@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(120deg, #c33764, #1d2671);
    background-size: 500% 500%;
    background-repeat: no-repeat;
    animation: bg-animation 25s infinite;
    min-height: 100vh;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}


#main-container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    gap: 0.5em;
}

body > footer {
    position: sticky;
    top: 100vh;
}

footer, .modal-footer {
    font-size: 0.7rem;
    color: white;
}

button {
    font-family: inherit;
    font-size: inherit;
}

/* ------ Landing Page Styling --------*/

#landing-header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#landing-title h1 {
    font-size: 4em;
    margin-bottom: 0;
}

#landing-subtitle {
    margin-top: 0;
}

.landing-section {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    background: rgba(0,0,0,0.6);
    padding: 0.5em;
    margin: 0.3em 0;
    border-radius: 15px;
}

.landing-section img {
    max-width: 300px;
}

/* --------------*/

/* ------ Modal Styling --------*/

.modal-outer {
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(120deg, #c33764, #1d2671);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal-frame {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    color: black;
    min-width: 30%;
    max-width: 80%;
    min-height: 300px;
    padding: 0.5em;
    opacity: 0.85;
}

/* --------------*/

/* ------ Login / Signup | Modal Styling --------*/

.tab {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 15px 15px 0 0;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.login-tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius:0 0 15px 15px;
    animation: fadeEffect 1s;
}

.tabcontent-show {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tabcontent-hide {
    display: none;
}

@keyframes fadeEffect {
    from {opacity:0;}
    to {opacity:1;}
} 

.single-form {
    border-radius:15px;
    border: 1px solid #ccc;
}

/* --------------*/


/* Form styles */

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.2em;
    width: 85%;
    margin-bottom: 1em;
    gap: 0.5em;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-row button {
    margin-top: .5em;
}

/* --------------*/

/* Global logged-in styles */

#header-logged {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.user-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.7em;
    gap: 1em;
}

.link-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:0.5em;
}


/* --------------*/

/* Dashboard styles */

.dashboard-container {
    background-color: rgba(255,255,255,0.75);
    color: black;
    width: 90%;
    height: 90%;
    padding: 1em;
    border-radius: 15px;
}

.logo-mini {
    max-width: 100px;
    max-height: 66px;
}

.events-container {
    border-radius: 15px;
    border: 2px solid black;
    padding: 1em;
}

.events-container h2 {
    margin:0;
}

.event-list {
    overflow: auto;
    max-height: 50%;
    margin-bottom: 1em;
}

.event-item {
    display: flex;
    flex-direction: column;
}

.separator {
    border-bottom: 1px dashed rgb(72, 69, 69);
}

.details-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.event-item p {
    margin: 0;
}

.item-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
    margin: 2px 0;
}

.item-title {
    font-size: 1.3em;
}

.item-description {
    font-size: 1em;
}

.item-label {
    color: rgb(72, 69, 69);
}


/* --------------*/

/* View styles */

.item-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.item-view h2 {
    margin: 0;
}

.buttons-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.url-small {
    font-size: 0.8em;
}

.data-row {
    /* display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    gap: 1.5em;
    
}

.data-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.data-column p {
    margin: 0;
}

.row-icon {
    width: 20px;
    height: 20px;
}

.qr {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.qr img {
    max-width: 15em;
    max-height: 15em;
    opacity: 0.75;
}
/* --------------*/