<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hold My Spot!</title>
    <link rel="stylesheet" href="static/app.css"/>
</head>
<body>
    <div id="main-container" class="dashboard-container">
        <header id="header-logged">
            <div class="user-display">
                {% if session['user_id'] %}
                    <p>Logged in as: <strong>{{ session['email'] }}</strong></p>
                    <a href="/logout"><button>Logout</button></a>
                {% endif %}
            </div>
            <div class="link-bar">
                <img class="logo-mini" src="../static/assets/reserved-logo.svg">
                <nav>
                    <a href="/dashboard"><button>Dashboard</button></a>
                    <a href="/events/create"><button>Create Event</button></a>
                    <a href="/events/past"><button>View Past Events</button></a>
                </nav>
            </div>
        </header>
        {% block content %}
    
        {% endblock %}

    </div>
    <footer>
        <p>&copy; Hold My Spot 2022 - All rights reserved</p>
    </footer>
    <script src="../static/app.js">
    </script>
</body>
</html>