{% extends "base.html" %}
{% block content %}
    
    <div class="events-container">
        <h2> My Events </h2>
        <hr/>
        <div class="event-list">
            {% if admin_events | length > 0 %}

                {% for i in admin_events|sort(attribute='event_date') %}
                    <div class="event-item">

                        <div class="data-row">
                            <strong>{{ i['title'] }}</strong>

                            <span class='item-label'>Date: </span>
                            <span class="item-value">{{ i['event_date'] }}</span>

                            <span class='item-label'>Time: </span>
                            <span class="item-value">{{ i['event_time'] }}</span>
                            
                            <a href="/events/{{ i['id'] }}"><button>Manage Event</button></a>
                        </div>

                    </div>
                    {% if admin_events | length >1 and not loop.last %}
                        <div class="separator"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                    <h4>No Events here... Try creating an event!</h4>
            {% endif %}
        </div>
    </div>

    <div class="events-container">
        <h2> My Reservations </h2>
        <hr/>
        <div class="event-list">
            {% if attendee_events | length > 0 %}
                {% for i in attendee_events|sort(attribute='event_date') %}
                    <div class="event-item">

                        <div class="data-row">
                            <strong>{{ i['title'] }}</strong>
                            <span class='item-label'>Confirmation ID: </span> 
                            <span class="item-value">{{ i['reservation_id'] }}</span>
                            <span class='item-label'>Date: </span>
                            <span class="item-value">{{ i['event_date'] }}</span>
                            <span class='item-label'>Time: </span>
                            <span class="item-value">{{ i['event_time'] }}</span>
                            <a href="/reservations/{{ i['reservation_id'] }}"><button>View Reservation</button></a>
                        </div>

                    </div>
                    {% if attendee_events | length >1 and not loop.last %}
                        <div class="separator"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h4>No Events here... Try creating an event!</h4>
            {% endif %}
        </div>
    </div>

{% endblock %}