{% extends "base.html" %}
{% block content %}
    
    <div class="events-container">
        <h2> My Events </h2>
        <hr/>
        <div class="event-list">
            {% if admin_events | length > 0 %}

                {% for i in admin_events|sort(attribute='event_date') %}
                    <div class="event-item">

                        <div class="data-row">
                            <strong>{{ i['title'] }}</strong>
                            <p>
                                <span class='item-label'>Date: </span>
                                <span class="item-value">{{ i['event_date'] }}</span>
                            </p>
                            <p>
                                <span class='item-label'>Time: </span>
                                <span class="item-value">{{ i['event_time'] }}</span>
                            </p>
                            <a href="/events/{{ i['id'] }}">
                                <button title="Manage event">
                                    <span class="material-icons md-18">edit_calendar</span>    
                                </button>
                            </a>
                        </div>

                    </div>
                    {% if admin_events | length >1 and not loop.last %}
                        <div class="separator"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                    <h4>No Events here... Try creating an event!</h4>
            {% endif %}
        </div>
    </div>

    <div class="events-container">
        <h2> My Reservations </h2>
        <hr/>
        <div class="event-list">
            {% if attendee_events | length > 0 %}
                {% for i in attendee_events|sort(attribute='event_date') %}
                    <div class="event-item">

                        <div class="data-row">
                            <strong>{{ i['title'] }}</strong>
                            <p>
                                <span class='item-label'>Confirmation: </span> 
                                <span class="item-value">{{ i['reservation_id'] }}</span>
                            </p>
                            <p>
                                <span class='item-label'>Date: </span>
                                <span class="item-value">{{ i['event_date'] }}</span>
                            </p>
                            <p>
                                <span class='item-label'>Time: </span>
                                <span class="item-value">{{ i['event_time'] }}</span>
                            </p>
                            <a href="/reservations/{{ i['reservation_id'] }}">
                                <button title="View reservation">
                                    <span class="material-icons md-18">
                                        qr_code_2
                                    </span>
                                </button>
                            </a>
                        </div>

                    </div>
                    {% if attendee_events | length >1 and not loop.last %}
                        <div class="separator"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h4>No Events here... Try creating an event!</h4>
            {% endif %}
        </div>
    </div>

{% endblock %}