{% extends "base.html" %}
{% block content %}
    
    <div class="events-container">

        <div class="item-view">

                <h2>{{ event_data['title'] }}</h2>
                <p>
                    <span class="item-value url-small">{{ event_data['description'] }}</span>
                </p>
            <div class="data-column">
                <div>
                    <p>
                        <span class='item-label'>User Registration Link: </span>
                        <a href="{{url}}"><span class="item-value">{{ url }}</span></a>
                    </p> 
                    <p>
                        <span class='item-label'>Date: </span>
                        <span class="item-value">{{ event_data['event_date'] }}</span>
                    </p>
                    <p>
                        <span class='item-label'>Time: </span>
                        <span class="item-value">{{ event_data['event_time'] }}</span>
                    </p>
                
                    <p>
                        <span class='item-label'>Capacity: </span>
                        <span class="item-value">{{ event_data['capacity'] }}</span>
                    </p>
                    <p>
                        <span class='item-label'>Contact Email: </span>
                        <a href="mailto:{{ event_data['email'] }}"><span class="item-value">{{ event_data['email'] }}</span></a>
                    </p>
                    <p>
                        <span class='item-label'>Contact Phone: </span>
                        <span class="item-value">{{ event_data['phone'] }}</span>
                    </p>
                    <p>
                        <span class='item-label'>Address: </span>
                        <span class="item-value">{{ event_data['address'] }}</span>
                    </p>
                </div>
            </div>
            <div class="buttons-row">
                <a ><button id="edit-event" title="Edit event details">Edit Event</button></a>
                <form method="post" action="/events/delete">
                    <input id="event_id" name="event_id" type="text" value="{{ event_data['id'] }}" hidden>
                    <button id="delete" title="Cancel event">Cancel Event</button>
                </form>
            </div>

        </div>
    </div>

    <div class="events-container">
        <h2> Registered Attendees </h2>
        <hr>
        <div class="event-list">
            {% if attendee_data | length > 0 %}
                {% for attendee in attendee_data %}
                    <div class="data-row"> 
                            <span class="material-icons md-dark md-inactive">face</span>
                            <span class="item-value"><strong>{{ attendee['name'] }}</strong></span>
                            <span class="item-value">{{ attendee['email'] }}</span>
                            <div class="data-cell">
                                <span class='item-label'>Status: </span>
                                <span class="item-value">
                                    <span class="material-icons md-24 {% if attendee['attendance'] == 0 %}red600{% else %}green600{% endif %}">
                                        check_circle_outline
                                    </span>
                                </span>
                            </div>
                            <form method="post" action="/reservations/delete">
                                <input id="reservation_id" name="reservation_id" type="number" value="{{ attendee['reservation_id'] }}" hidden>
                                <input id="event_id" name="event_id" type="number" value="{{ event_data['id'] }}" hidden/>
                                <a>
                                    <button id="delete" title="Cancel Reservation">
                                        <span class="material-icons md-18">delete</span>
                                    </button>
                            </form>
                            <a href="/events/checkin?confirmation={{ attendee['reservation_id'] }}&event={{ event_data['id'] }}">
                                <button title="Check-in">
                                    <span class="material-icons md-18">
                                        add_task
                                    </span>
                                </button>
                            </a>
                            <a href="/reservations/{{ attendee['reservation_id'] }}{% if attendee['email'] != session.get['email'] %}?external=1{% endif %}">
                                <button title="View reservation">
                                    <span class="material-icons md-18">qr_code_2</span>
                                </button>
                            </a>
                        
                    </div>
                    {% if attendee_data | length > 1 and not loop.last %}
                        <div class="separator"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h3>No one has reserved a spot yet!</h3>
            {% endif %}
        </div>
        <div class="buttons-row">
            <form method="post" action="/reservations/attendee/add">
                <input id="event_id" name="event_id" type="text" value="{{ event_data['id'] }}" hidden/>
                <div class="form-row">
                    <div class="data-cell">
                        <label for="name">Name:</label>
                        <input id="name" name="name" type="text" placeholder="John" required/>
                    </div>
                    <div class="data-cell">
                        <label for="email">E-mail:</label>
                        <input id="email" name="email" type="email" placeholder="attendee@email.com" required/>
                    </div> 
                    <button id="delete" title="Register user">
                        <span class="material-icons md-18">person_add</span>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <div id="update-modal" class="modal-outer hidden">
        <div class="modal-frame">

            <div class="login-tabcontent tabcontent-show  single-form">
                <h1>Edit Event</h1>
                <form id="event-form" class="form" method="post" action="/events/update">
                    <input id="id" name="id" type="number" value="{{ event_data['id'] }}" hidden/>

                    <div class="form-row">
                        <label for="title">Event Title:</label>
                        <input id="title" name="title" type="text" placeholder="Amazing Event" value="{{ event_data['title'] }}" required/>
                    </div>

                    <div class="form-row">
                        <label for="description">Event Description:</label>
                        <textarea id="description" name="description" type="text" wrap="soft" form="event-form" >{{ event_data['description'] }}
                        </textarea>
                    </div>

                    <div class="form-row">
                        <label for="event_date">Event Date:</label>
                        <input id="event_date" type="date" name="event_date" value="{{ date_form }}" required/>
                    </div>

                    <div class="form-row">
                        <label for="event_time">Event Time:</label>
                        <input id="event_time" type="time" name="event_time" value="{{ event_data['event_time'] }}" required/>
                    </div>

                    <div class="form-row">
                        <label for="address">Event Address:</label>
                        <input id="address" type="text" name="address" placeholder="123 Main St. New York, NY 79810" value="{{ event_data['address'] }}" required/>
                    </div>

                    <div class="form-row">
                        <label for="capacity">Event Capacity:</label>
                        <input id="capacity" type="number" name="capacity" placeholder="10" value="{{ event_data['capacity'].split('/')[1] | int }}" required/>
                    </div>

                    <div class="form-row">
                        <label for="phone">Contact Phone:</label>
                        <input id="phone" type="tel" name="phone" placeholder="+1 (917)-232-1234" value="{{ event_data['phone'] }}" required/>
                    </div>

                    <div class="form-row">
                        <label for="email">Contact Email:</label>
                        <input id="email" type="email" name="email" placeholder="contact@event-organizer.com" value="{{ event_data['email'] }}" required/>
                    </div>

                    <div class="form-row">
                        <button type="submit">Save Changes</button>
                        <button id="cancel-update" type="button" title="Cancel">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <p>&copy; Hold My Spot 2022 - All rights reserved</p>
        </div>
    </div>

{% endblock %}