<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hold My Spot!</title>
    <link rel="stylesheet" href="static/landing.css"/>
</head>
<body>
    <header id="landing-header">
        <div id="landing-title">
            <h1>Hold My Spot!</h1>
            <p>Reservation management made simple</p>
        </div>
        <button>Log in / Sign up</button>
    </header>
    <section>
        <p>Create your recurring event or class and we'll handle the attendees on your behalf</p>
    </section>
    <section>
        <h4>Features</h4>
        <ul>
            <li>Create a custom page for your business</li>
            <li>Manage recurrent events and create schedules attendees can reserve a spot on</li>
            <li>Attendees can sign up to one or more events based on event capacity and rules</li>
            <li>Control access and roll call by checking on QR or reservation ID</li>
        </ul>
    </section>
    <footer id="landing-footer">
        <p>&copy; Hold My Spot 2022</p>
    </footer>
</body>
</html>