<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hold My Spot!</title>
    <link rel="stylesheet" href="static/landing.css"/>
</head>
<body>
    <div id="main-container">
        <header id="landing-header">
            <div id="landing-title">
                <h1>Hold My Spot!</h1>
                <p id="landing-subtitle">Reservation management made simple</p>
            </div>
            <button id="landing-btn-login">Login or Sign Up</button>
        </header>
        <section>
            <div class="landing-section">
                <img src="../static/assets/queue.svg" alt="queue"/>
                <p>Create your recurring event or class and we'll handle the attendees on your behalf</p>
            </div>
        
            <div class="landing-section">
                <p>Avoid unnecessary queue lines by letting your attendees know exactly when to show up</p>
                <img src="../static/assets/queue.svg" alt="queue"/>
            </div>
        </section>
        <section>
            <h4>Features</h4>
            <ul>
                <li>Create a custom page for your business</li>
                <li>Manage recurrent events and create schedules attendees can reserve a spot on</li>
                <li>Attendees can sign up to one or more events based on event capacity and rules</li>
                <li>Control access and roll call by checking on QR or reservation ID</li>
            </ul>
        </section>
        <footer id="landing-footer">
            <p>&copy; Hold My Spot 2022 - All rights reserved</p>
        </footer>
    </div>
    <div id="landing-modal" class="modal-outer" style="display: none;">
        <div class="modal-frame">
            
            <div class="tab">
                <button id="login-tab" class="login-tablink default">Login</button>
                <button id="signup-tab" class="login-tablink">Sign Up</button>
            </div>

            <div id="login-details" class="login-tabcontent tabcontent-hide">
                <h1>Login</h1>
                <p>Welcome back!, please sign in to continue</p>
                <form class="form" method="post" action="/login">
                    <div class="form-row">
                        <label for="email">E-Mail:</label>
                        <input id="email" name="email" type="email" placeholder="name@mycompany.com" autocomplete="username" required/>
                    </div>

                    <div class="form-row">
                        <label for="password">Password:</label>
                        <input id="password" name="password" type="password" placeholder="******" autocomplete="current-password" required/>
                    </div>

                    <div class="form-row">
                        <button type="submit">Log In</button>
                        <button class="login-modal-cancel" type="button">Cancel</button>
                    </div>
                </form>
            </div>

            <div id="signup-details" class="login-tabcontent tabcontent-hide">
                <h1>Sign Up</h1>
                <p>Please fill in the information below to create an account</p>
                <form class="form" method="post" action="/signup">
                    <div class="form-row">
                        <label for="first-name">First Name:</label>
                        <input id="first-name" name="first-name" type="text" placeholder="John" autocomplete="given-name" required/>
                    </div>

                    <div class="form-row">
                        <label for="last-name">Last Name:</label>
                        <input id="last-name" name="last-name" type="text" placeholder="Doe" autocomplete="last-name" required/>
                    </div>

                    <div class="form-row">
                        <label for="email">E-Mail:</label>
                        <input id="email" name="email" type="email" placeholder="name@mycompany.com" autocomplete="username" required/>
                    </div>

                    <div class="form-row">
                        <label for="password">Password:</label>
                        <input id="password" name="password" type="password" placeholder="******" autocomplete="new-password" required/>
                    </div>

                    <div class="form-row">
                        <button type="submit">Sign Up</button>
                        <button class="login-modal-cancel" type="button">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <p>&copy; Hold My Spot 2022 - All rights reserved</p>
        </div>
    </div>
    <script src="../static/landing.js">
    </script>
</body>
</html>