{% extends "base.html" %}
{% block content %}
    {% if external == true %}
        <div id="landing-modal" class="modal-outer">
            <div class="modal-frame">
                <div class="login-tabcontent tabcontent-show  single-form">
    {% else %}
        <div class="events-container">

            <div class="item-view">
    {% endif %}
                    <h2>{{ reservation['title'] }}</h2>
                    <p>
                        <span class="item-value url-small">{{ reservation['description'] }}</span>
                    </p>
                    <div class="data-column"> 
                        <p>
                            <span class='item-label'>Check In URL: </span>
                            <span class="item-value">{{ url }}</span>
                        </p>
                        <p>
                            <span class='item-label'>Date: </span>
                            <span class="item-value">{{ reservation['event_date'] }}</span>
                        </p>
                        <p>
                            <span class='item-label'>Time: </span>
                            <span class="item-value">{{ reservation['event_time'] }}</span>
                        </p>
                        <p>
                            <span class='item-label'>Contact Email: </span>
                            <span class="item-value">{{ reservation['email'] }}</span>
                        </p>
                        <p>
                            <span class='item-label'>Contact Phone: </span>
                            <span class="item-value">{{ reservation['phone'] }}</span>
                        </p>
                        <p>
                            <span class='item-label'>Address: </span>
                            <span class="item-value">{{ reservation['address'] }}</span>
                        </p>
                    </div>
                {% if external == false %}
                    <div class="buttons-row">
                        <form method="post" action="/reservations/delete">
                            <input id="reservation_id" name="reservation_id" type="number" value="{{ reservation['reservation_id'] }}" hidden>
                            <button id="delete">Cancel Reservation</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% if external == true %}
        </div>
        <div class="modal-footer">
            <p>&copy; Hold My Spot 2022 - All rights reserved</p>
        </div>
        {% endif %}
        </div>

{% endblock %}