{% extends "base.html" %}
{% block content %}

        <div id="landing-modal" class="modal-outer">
            <div class="modal-frame">
                <div class="login-tabcontent tabcontent-show  single-form">
                    <h2>{{ reservation['title'] }}</h2>
                    <p>
                        <span class="item-value url-small">{{ reservation['description'] }}</span>
                    </p>
                    <div class="data-column">
                        <div>
                            <p>
                                <span class='item-label'>Date: </span>
                                <span class="item-value">{{ reservation['event_date'] }}</span>
                            </p>
                            <p>
                                <span class='item-label'>Time: </span>
                                <span class="item-value">{{ reservation['event_time'] }}</span>
                            </p>
                            <p>
                                <span class='item-label'>Contact Email: </span>
                                <a href="mailto:{{ reservation['email'] }}"><span class="item-value">{{ reservation['email'] }}</span></a>
                            </p>
                            <p>
                                <span class='item-label'>Contact Phone: </span>
                                <span class="item-value">{{ reservation['phone'] }}</span>
                            </p>
                            <p>
                                <span class='item-label'>Address: </span>
                                <span class="item-value">{{ reservation['address'] }}</span>
                            </p>
                        </div>
                        <div class="qr">
                            <h3>Check-in</h3>
                            {% if reservation['attendance'] == 1 %}
                                <div class="message ok">
                                    <p>Already checked in!</p>
                                </div>
                            {% else %}
                                <div class="message error">
                                    <p>Not checked in yet!</p>
                                </div>
                            {% endif %}
                            <p>Show the QR Code below to the host when arriving at the event</p>
                            <img src="{{ qr_code }}">
                        </div>
                        
                    </div>
                {% if external == false %}
                    <div class="buttons-row">
                        <a href='/dashboard'><button>Back</button></a>
                        <form method="post" action="/reservations/delete">
                            <input id="reservation_id" name="reservation_id" type="number" value="{{ reservation['reservation_id'] }}" hidden>
                            <button id="delete">Cancel Reservation</button>
                        </form>
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="modal-footer">
            <p>&copy; Hold My Spot 2022 - All rights reserved</p>
        </div>
    </div>

{% endblock %}